<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recipeDetails.imagePath"
      alt="{{ recipeDetails.name }}"
      class="img-responsive"
      style="max-height: 200px"
    />
  </div>

  <div class="col-xs-12">
    <h1>{{ recipeDetails.name }}</h1>
  </div>

  <div class="col-xs-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle" type="button">
        Manage Recipes <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12">Description</div>
  <div class="col-xs-12">Ingredients</div>
</div>
